.catalogWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 40px;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  gap: 20px;
}

.filterBtn {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.sortSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.itemCount {
  font-size: 15px;
  color: #555;
}

.sortBtn {
  background: none;
  border: none;
  font-size: 15px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #444;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.image {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
}

.productTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0 4px;
  text-align: center;
}

.price {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.loading {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.dropdown {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 10;
  min-width: 150px;
  overflow: hidden;
}

.dropdownMenu button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  color: #333;
}

.dropdownMenu button:hover {
  background-color: #f6f6f6;
}

/* Show menu on hover */
.dropdown:hover .dropdownMenu {
  display: block;
}

.activeIcon {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.listCard {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.listCard:hover {
  transform: translateY(-3px);
}

.listCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.cardDetails {
  flex: 1;
}

.desc {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
